version: "3.8"

services:
  app:
    image: node:18
    working_dir: /usr/src/app
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "

      echo 'Installing dependencies' && \

      echo '' && \
      echo '' && \
      echo 'Running npm i' && \
      echo '' && \
      echo '' && \
      npm install && \
      echo '' && \
      echo '' && \
      echo '' && \
      echo 'Starting application' && \ \ \ \ \ \
      echo '' && \
      echo '' && \
      echo 'Running npm start' && \ \ \ \ \ \
      echo '' && \
      echo '' && \
      npm start
      "
