version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: node:18
    working_dir: /usr/src/app
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: sh -c "npm install && node index.js"
